<h1>一覧</h1>
<%= link_to "投稿", new_post_path %>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
    <div class="swiper-slide">
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>