<%= form_with model: @post, url: post_index_path, method: :post do |f| %>
<%# 画像を投稿できるようにする　%>
 <div class="mb-3">
    <%= f.label :images, "画像", class: "font-semibold block p-1" %>
    <%= f.file_field :images, multiple: true, accept: "image/jpeg,image/gif,image/png", data: { images_target: "select", action: "change->images#selectImages" } %>
  </div>
  <%= f.submit '投稿', class:"btn btn-info" %>
<% end %>