<%= form_with model: @post, url: post_index_path, method: :post do |f| %>
<%# 画像を投稿できるようにする　%>
 <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, multiple: true %>
  </div>
  <%= f.submit '投稿', class:"btn btn-info" %>
<% end %>